@page "/"

<h1>Accueil</h1>
<br />

<h3>Qu'est ce que Fodds ?</h3>

<p>
    Fodds est une application permettant de voir les informations sur les pilotes, les équipes, les prochaines courses,<br />
    les anciennes courses, et de voir les cotes pour les prochaines courses de F1.
</p>
<p>
    Fodds est une Progressive Web App faite sur Visual Studio avec Blazor.
</p>

<img src="https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2020/4/27/zeran6mqd9xjjkw6tngz/f1-2020-aston-martin-red-bull-racing" alt="img-F1" class="img-fluid embed-responsive embed-responsive-16by9" id="img-F1" />

<p>
    Les images, statistiques, noms de pilotes, noms de circuits et d'équipes sont de la propriété Formula One World Championship Limited<br />
    © 2003-2021 Formula One World Championship Limited
</p>