<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FoddsBPWA</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Drivers">
                <span class="oi oi-person" aria-hidden="true"></span> Pilotes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Teams">
                <span class="oi oi-people" aria-hidden="true"></span> Équipes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DriverStandings">
                <span class="oi oi-script" aria-hidden="true"></span> Classement Pilotes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ConstructorStandings">
                <span class="oi oi-script" aria-hidden="true"></span> Classement Équipes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PastEvents">
                <span class="oi oi-media-skip-backward" aria-hidden="true"></span> Anciens Évenements
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FutureEvents">
                <span class="oi oi-media-skip-forward" aria-hidden="true"></span> Futurs Événements
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Odds">
                <span class="oi oi-dollar" aria-hidden="true"></span> Cotes
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
